@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(32, 31, 31);
    color: #fbfbfb;
    display: grid;
    grid-column: 1fr 1fr;
    text-align: left; 
    width: 300px;
    height: 100px;
    padding: 1em 1em 1em 1em;
    justify-content: center;
}
.aurora img{
    display: grid;
    width: 60px;
    height: 100px;
    justify-content: left;
    padding: 1em 1em 1em 1em;
}
